.textContainer 
    {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .Image 
  {
    /*if, cursor hovers, turn to pointer*/
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }

  .Image:hover
  {
    /*if, cursor hovers, turn to pointer*/
    transform: scale(1.1);
  }
  
  .textArea 
  {
    /*position, as close as possible to the parent container*/
    position: absolute;

    /* position, from beneath the parent container, to the middle*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* position, from behind the parent container, to sit in front of it*/
    z-index: 1;

    /*parameter, text area size*/
    width: 90%;
    height: 90%;

    /*rule, cannot be resized*/
    resize: none;

    /*rule, can be clicked infinitley*/
    pointer-events: none; 

    /*rule, if cursor hovers = turn to pointer*/
    cursor: pointer;

    /*rule, text cannot be highlighted*/
    user-select: none;

    /**/
    background-color: rgba(13, 44, 44, 0.918);

    /*parameters, text, how it looks*/
    font-size: 18px; 
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    /*parameters, text, where it is*/
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .overlayText
  {
    /*visualise element boundaries*/
    display: flex;
    /*position, as close as possible to the parent container*/
    position: absolute; 

    /* position, from beneath the parent container, to the middle*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    /* position, from behind the parent container, to sit in front of it*/
    z-index: 1;

    /*rule, cannot be resized*/
    resize: none;

    /*if, cursor hovers, turn to pointer*/
    cursor: pointer;

    /*rule, text cannot be highlighted*/
    user-select: none;

    /*rule, can be clicked infinitley*/
    pointer-events: none; 

    /*parameters, text, how it looks*/
    font-size: 4rem;
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    /*parameters, text, where it is*/
    text-align: center;
    align-items: center;
    justify-content: center;
  }