.textContainer 
  {
    position: relative;
    display: flex;
  }

  
  
  .Image 
  {
    /*if, cursor hovers, turn to pointer*/
  }

  .Image:hover
  {
    /*if, cursor hovers, turn to pointer
    transform: translateX(60%);*/
  }

 

  
  .textArea 
  {
    /*position, as close as possible to the parent container*/
    position: absolute;

    /* position, from beneath the parent container, to the middle
    animation: slideLeft 15s ease-in;*/

    animation: fadeIn 15s ease-out;
    
    /* position, from behind the parent container, to sit in front of it*/
    z-index: -1;

    /*parameter, text area size*/
    width: 100%;
    height: 100%;

    /*rule, cannot be resized*/
    resize: none;

    /*rule, can be clicked infinitley*/
    

    /*rule, if cursor hovers = turn to pointer*/
    cursor: pointer;

    /*rule, text cannot be highlighted*/
    user-select: none;

    /**/
    background-color:rgb(0, 20, 24);

    /*parameters, text, how it looks*/
    font-size: 18px; 
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    /*parameters, text, where it is*/
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @keyframes fadeIn 
  {
    0%
    {
      opacity: 0%;
      transform: translateX(0%);
    }
    10%
    {
      opacity: 100%;
      transform: translateX(-100%);
    }
    100%
    {
      opacity: 100%;
      transform: translateX(-100%);
    }
  }
  

  .textOverlay
  {
    /*visualise element boundaries*/
    display: flex;
    /*position, as close as possible to the parent container*/
    position: absolute; 

    /* position, from beneath the parent container, to the middle*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    /* position, from behind the parent container, to sit in front of it*/
    z-index: 1;

    /*rule, cannot be resized*/
    resize: none;

    /*if, cursor hovers, turn to pointer*/
    cursor: pointer;

    /*rule, text cannot be highlighted*/
    user-select: none;

    /*rule, can be clicked infinitley*/

    /*parameter, text area size*/
    width: 100%;
    height: 100%;

    /*parameters, text, how it looks*/
    font-size: 4rem;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    /*parameters, text, where it is*/
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 40%;
  }

  .textOverlay:hover
  {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.39);
  }