.textAreaContainer
{
    position: 'relative';
    display: 'inline-block';
    cursor: pointer;
}

.textArea
{
    position: 'absolute';
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';
    background-color: rgb(255, 255, 255);
    border: 'none';
    resize: 'none';
    pointer-Events: 'none';   
}