.mainContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(0, 30, 37);
}

.topContainer
{
    display: flex;
    flex-direction: column;
}

.topContainer h1
{
    display: flex;
    align-items: flex-start;
    color: rgb(42, 126, 165);
}

.topContainer h2
{
    display: flex;
    justify-content: center;
    color: rgb(42, 61, 165);
}

.topContainer h3
{
    display: flex;
    justify-content: center;
    color: rgb(42, 126, 165);
}

.midContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.midContainer Image
{
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
}