.mainContainer
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(0, 14, 24);
}

    .topContainer
    {
        display: flex;
        flex-direction: column;

        /*background image*/
        /*border parameters*/
        padding: 0.2rem;
        margin: 0.2rem;
    }

        .logo
        {
            display: flex;
            align-items: flex-start;
            position: fixed;
            z-index: 1000;
            cursor: pointer;
            margin-top: 0.4rem;
        }
        /*default, accessed via personal computer*/
        .logoContainer
        {
            display: flex;
            align-items: flex-start;
        }

            .logoContainer h1
            /*Homeschooling*/
            {
                display: flex;
                
                /*border parameters*/
                padding: 0.25rem;
                margin: 0.25rem;
                margin-left: 4rem;
                
                /*text parameters sans seriff, cambria, verdana, Segoe, Times New Roman, Trebuchet MS, arial helvetica?*/
                color: rgb(0, 63, 49);
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 3rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            .logoContainer h2
            /*hub*/
            {
                display: flex;

                /*location*/
                transform: translate(-0.5rem, -0.5REM);
                
                /*border parameters*/
                align-items:start;
                justify-content: flex-start;
                

                
                /*text parameters sans seriff, cambria, verdana, Segoe, Times New Roman, Trebuchet MS, arial helvetica?*/
                color:rgb(0, 45, 104);
                font-family:Arial, Helvetica, sans-serif;
                font-size: 4rem;
                text-align:left;
            }

            

            /*rule, if accessed via tablet*/
            @media (max-width: 768px)
            {
                .logoContainer
                {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                    .logoContainer h1
                    {   
                        /*parameters, text, where it is*/
                        display: flex;
                        align-items: flex-start;
                        padding-left: 0.3rem;
                        /*parameters, text, how it looks*/
                        color: rgb(40, 149, 153);
                        font-size: 2.3rem;
                        letter-spacing: 0.2rem;
                        
                    }
            }

            /*rule, if accessed via smartphone*/
            @media (max-width: 480px)
            {
                .logoContainer
                {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                    .logoContainer h1
                    {   
                        display: flex;
                        align-items: flex-start;
                        color: rgb(40, 149, 153);
                        font-size: 1.6rem;
                        letter-spacing: 0.2rem;
                        /*border parameters*/
                        padding-left: 0.3rem;
                    }
            }

            .logoContainer img
            {
                display: flex;
                /*border parameters*/
                padding-top: 0.4rem;
            }

        .slogan h3
        /*Think*/
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            letter-spacing: 0.2rem;
            color: rgb(54, 133, 126);
            font-family:monospace;
            /*border parameters*/
            margin-top: 0.5rem;
            transform: translateX(-10%);
        }

        .slogan h4
        /*Outside*/
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7rem;
            letter-spacing: 0.2rem;
            color: rgb(0, 122, 92);
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            /*border parameters*/
            margin-top: -4%;
            margin-bottom: -3%;
            transform: translateX(20%);
        }

    .midContainerOne
    {
        display: flex;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        background-color:rgb(0, 20, 24);
        clip-path: polygon(
        50% 0%,   /* Top center point (roof peak) */
        100% 20%, /* Top right corner */
        100% 80%, /* Bottom right corner */
        50% 100%, /* Bottom center point (V-shape) */
        0% 80%,   /* Bottom left corner */
        0% 20%    /* Top left corner */)
    }

        .imageOne
        {
            display: flex;
            margin: 5rem;
            transform: translate(-80%, 20%);
        }

        .imageTwo
        {
            display: flex;
            margin: 5rem;
        }

    .midContainerOne h1
    {
        /*The Box*/
        display: flex;
        position:absolute;
        font-size: 5rem;
        letter-spacing: 0.2rem;
        color: rgb(136, 177, 196);
        font-family:Arial, Helvetica, sans-serif;
    }
    .midContainerOne Image
    {
        align-items: flex-start;
        margin: 1rem;
        padding: 1rem;
    }

        

    .midContainerTwo
    {
        display: flex;
        justify-content: center;
    }

        .midContainerTwo h1
        {
            display: flex;
            align-items: center;
            font-size: 5rem;
        }
    
    .slidingBannerContainer
    {
        display: flex;
        position: relative;
        height: 50px;
        width: 100%;
        overflow: hidden;
        align-items: center;
    }

        .slidingBanner
        {
            display: inline-block;

            position: absolute;
            white-space: nowrap; /*prevents the text from wrapping onto a new line*/
            padding-left: 100%; /*begin animation, off screen*/

            /*sliding animation*/
            animation: slide 500s linear infinite; /*movement speed*/
            animation-delay: -100s;

            /*text formatting*/
            color: rgb(0, 65, 112);
            font-size: 2rem;
        }

        @keyframes slide 
        {
            0%
            {
                transform: translateX(-100%);
            }

            100%
            {
                transform: translateX(0);
            }
        }